body {
    margin: 0;
    background: #1a1a1a;
    color: white;
    font-family: Arial, sans-serif;
}

.table {
    position: relative;
    width: 100vw;
    height: 100vh;
}

.player-left-top {
    position: absolute;
    top: 15%;
    left: 10%;
    text-align: center;
}

.player-right-top {
    position: absolute;
    top: 15%;
    right: 10%;
    text-align: center;
}

.player-left-bottom {
    position: absolute;
    bottom: 15%;
    left: 10%;
    text-align: center;
}

.player-right-bottom {
    position: absolute;
    bottom: 15%;
    right: 10%;
    text-align: center;
}

/* Cards */
.cards {
    display: flex;
    gap: 25px;
}

/* Vertical orientation for left/right players */
.vertical {
    flex-direction: column;
}

/* Card appearance */
.card {
    width: 100px;
    height: 144px;
    border-radius: 2px;
    box-shadow: 0 0 10px #00000000;
}

/* Rotate sideways for left/right */
.rotate {
    transform: rotate(90deg);
}

/* Optional center display */
.center-area {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    opacity: 0.5;
}
